{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="container d-flex justify-content-between">
        <h3>Reporte de Ventas</h3>
            <button class="btn">
                <a href="{% url 'dashboard:generar_venta' %}">Generar Venta</a>
            </button>
    </div>
</div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="">
                <tr>
                    <th>ID Venta</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Cédula</th>
                    <th>Monto</th>
                    <th>SIM Card</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ venta.fecha_venta|date:"d/m/Y H:i" }}</td>
                    <td>
                        <a href="{% url 'dashboard:detalle_venta' venta.pk %}">
                            {{ venta.id_cliente.primer_nombre }} {{ venta.id_cliente.primer_apellido }}
                        </a>
                    </td>
                    <td>{{ venta.id_cliente.cedula_identidad }}</td>
                    <td>${{ venta.monto_total|floatformat:2 }}</td>
                    <td>{{ venta.id_simcard.codigo }}</td>
                    <td>
                        <div class="d-flex gap-2">
                            <button class="btn btn-sm">
                                <a href="{% url 'dashboard:detalle_venta' venta.pk %}" >
                                    Ver Detalles
                                </a>
                            </button>
                            <button class="btn">
                                <a href="{% url 'dashboard:editar_venta' venta.pk %}" >
                                    Editar
                                </a>
                            </button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8" class="text-center">No hay ventas registradas.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
