{% block content %}
<div class="container">
        <div class="card shadow-lg p-4">
            <h1 class="card-title text-center mb-4">Generar Reporte de Lotes</h1>

            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}

            <p class="text-muted text-center mb-4">Selecciona el mes y año para generar un reporte de SIM Cards y Ventas.</p>
            
            <form action="{% url 'dashboard:reporte_lotes_excel' %}" method="GET">
                <div class="row g-3 align-items-center mb-3">
                    <div class="col-md-6">
                        <label for="month" class="form-label">Mes:</label>
                        <select id="month" name="month" class="form-select" required>
                            <option value="">Selecciona un mes</option>
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="year" class="form-label">Año:</label>
                        <input type="number" id="year" name="year" class="form-control" placeholder="Ej. 2025" min="2000" max="2100" required>
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg">Descargar Reporte</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}