{% load static %}
{% block content %}
<div class="container mt-4">
  {% if lotes %}
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="">
        <tr>
          <th>Nombre del Lote</th>
          <th>Máximo de SIMCards</th>
          <th>Fecha de Creación</th>
          <th>Propietario</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for lote in lotes %}
        <tr>
          <td>{{ lote.nombre_lote }}</td>
          <td>{{ lote.max_simcard }}</td>
          <td>{{ lote.fecha_creacion|date:"d/m/Y" }}</td>
          <td>{{ lote.id_usuario_propietario.username }}</td>
          <td>
            <button class="btn btn-sm text-white">
              <a href="{% url 'dashboard:simcard_list' lote.pk %}"><i class="bi bi-table"></i></a>
            </button>
            <button class="btn btn-sm text-white"> 
              <a href="{% url 'dashboard:lote_update' lote.pk %}"><i class="bi bi-pencil-square"></i></a>
            </button>
            <!-- <button class="btn btn-sm text-white">
              <a href="{% url 'dashboard:lote_delete' lote.pk %}"><i class="bi bi-trash3"></i></a>
            </button>
               -->
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="alert alert-warning" role="alert">
    No hay lotes disponibles. ¡Crea uno para empezar!
  </div>
  {% endif %}
</div>
{% endblock %}