{% extends 'pages/layouts/index.html' %}
{% block content %}
<div class="container mt-4 min-vh-100 text-center p-4">
  <section class="alert alert-danger">
    <h2>Confirmar eliminación</h2>
    <p>¿Estás seguro de que deseas eliminar el Chip Con el numero "<strong>{{ object.numero_telefono }}</strong> del Grupo <strong>{{ object.id_lote.nombre_lote }}</strong>?</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn w-100 mb-2">Eliminar</button>
      <a href="{% url 'dashboard:dashboard_home' %}" class="btn btn-secondary w-100">Cancelar</a>
    </form>
  </section>
</div>
{% endblock %}